.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 1rem;
  min-width: 480px;
  max-width: 560px;

  mat-form-field {
    width: 100%;
  }

  .full-width {
    grid-column: 1 / -1;
  }
}
