<header class="app-header">
  <div class="brand">
    <span class="brand-mark">VN</span>
    <div class="brand-text">
      <span class="brand-name">Vista Nova</span>
      <span class="page-title">{{ title }}</span>
    </div>
  </div>

  <button class="user-menu-trigger" mat-button [matMenuTriggerFor]="menu" type="button">
    <span class="user-name">{{ authService.currentUser()?.fullName }}</span>
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item type="button" (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</header>
