<header class="app-header">
  <div class="brand">
    @if (showBack) {
      <button mat-icon-button class="back-button" type="button" (click)="goBack()" aria-label="Go back">
        <mat-icon>arrow_back</mat-icon>
      </button>
    } @else {
      @if (showMenuToggle) {
        <button
          mat-icon-button
          class="menu-toggle"
          type="button"
          (click)="sidenavService.toggle()"
          aria-label="Toggle navigation menu"
        >
          <mat-icon>menu</mat-icon>
        </button>
      }
    }
  </div>

  <span class="page-title">{{ title }}</span>

  <div class="user-menu">
    <button class="user-menu-trigger" mat-button [matMenuTriggerFor]="menu" type="button">
      <span class="user-info">
        <span class="user-name">{{ authService.currentUser()?.fullName }}</span>
      </span>
      <mat-icon class="vn-icon-sm chevron">expand_more</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item type="button" class="logout-item" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</header>
